<!DOCTYPE html>
<html>
<head>
    <title>THE FUN GAME</title>
</head>
<body>
    <form action="/madlib">
        <h3>Type in the following:</h3>
        Person:
        <input type="text" name="person"><br>
        <br>
        Color:
        <input type="text" name="color"><br>
        <br>
        Noun:
        <input type="text" name="noun"><br>
        <br>
        Adjective:
        <input type="text" name="adjective"><br>
        <br>
        <input type="submit">
    </form>

</body>
</html>