<!DOCTYPE html>
<html>
<head>
    <title>THE FUN GAME</title>
    <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>
    <form action="/madlib">
        <br>
        <h3>Type in the following:</h3>

        <div class="formfield">
            Person:<br>
            <input type="text" name="person"><br>
        </div>
        
        <div>
        Color:<br>
        <input type="text" name="color"><br>
        </div>

        <div>
        Noun:<br>
        <input type="text" name="noun"><br>
        </div>

        <div>
        Adjective:<br>
        <input type="text" name="adjective"><br>
        </div>

        <input type="submit" class="submit">
    </form>

</body>
</html>